*{
  margin:0;
}
body{
  background-color: rgb(235, 235, 235);
  font-family: 'heebo';
}

.app__header{
  display:flex;
  justify-content: space-around;
  align-items:center;
  margin-bottom:20px;
}
.sel{
  background-color: white;
}
.app__stats1{
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.app__stats2{
  display:flex;
  justify-content: space-between;
}
.app__dropdown1{
  display:flex;
  justify-content: center;
  margin-bottom:20px;
}
.app__dropdown2{
  display:flex;
  justify-content: center;
  margin-bottom:20px;
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding:20px;
}

.app__left{
  flex:0.9;
  margin-bottom: 20px;
}

@media(max-width:720px)
{
  .app{
    flex-direction: column;
  }
  .app__header{
    font-size:14px;
    text-align: center;
    flex-direction: column;
  }
}
